.centroForm{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}
.borda{
    border-radius: 20px;
    margin-top: 20px;
    padding: 3%;
    box-shadow: -9px -1px 50px grey;
    width:25rem;
}
nav{
    border-bottom: 3px solid #33333363;
    background-color: #F7F7F7;
}
.custom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 7%;
    margin-right: 7%;
}

.margem{
    padding-top: 22%;
    padding-left: 22%;
    padding-right: 22%;
    align-items: center;
}
.btnbusca{
    margin-top: 5%;
    width: 100%;
    background-color:#FF0C00 ;
    font-weight: bold;
}
.iconinput{
    border-bottom: 2px groove;   
    color:#5f5f5f;
}
.inputcard{
    border: none;
    width: 90%;
}
.botoes{
    border-radius: 10px;
}
label{
    font-weight: bold;
    color:#5f5f5f;
}
.btnSobre{
    width:100%;
    color:#9b9a9a;
    font-weight: bold;
    border:none;
    background:none;
}
.texto{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right:5%;
}
.centroDiv{
    position: absolute;
    transform: translate(-50%, -50%); 
    z-index: 1;
    top: 50%;
    left: 50%;
    width:90%
}
.busca{
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
}
card-body{
    margin-left: 3%;
}